body {
  font-family:arial;
  width: 300px;
}

button {
  color:#fff;
  border:0px;
  border-radius:5px;
  padding:6px 12px;
  background:#5350a2;
  cursor:pointer;
}

button:disabled {
  background:#ccc;
  color:#ddd;
}

.title-container {
  padding-bottom:10px;
  margin-bottom:10px;
  font-size:2em;
}

.container {
  padding:10px;
  font-family:arial;
}

.export-area {
  word-wrap: break-word;
  padding:5px;
  background: #eee;
  margin-top:20px;
}
